matplotlib==3.10.1
numpy==2.2.3
opencv-python==4.11.0.86
pillow==11.1.0
pycocotools==2.0.8
scipy==1.15.2
pyyaml==6.0.1
tqdm
streamlit_image_coordinates
streamlit

scikit-image
python-box==7.0.1
lightning==2.0.1
segmentation-models-pytorch==0.3.2
albumentations==1.3.1
imagecorruptions==1.1.2
safetensors==0.4.1
torchsummary==1.5.1
tensorboard==2.14.0
pandas
kagglehub
